xsd/SMPTE-2067-100a-2014-OPL.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:dcml="http://www.smpte-ra.org/schemas/433/2008/dcmlTypes/" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:opl="http://www.smpte-ra.org/schemas/2067-100/2014" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.smpte-ra.org/schemas/2067-100/2014">
	<xs:import namespace="http://www.smpte-ra.org/schemas/433/2008/dcmlTypes/" schemaLocation="st0433-dcmlTypes.xsd"/>
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<xs:element name="OutputProfileList" type="opl:OutputProfileListType"/>
	<xs:complexType name="OutputProfileListType">
		<xs:sequence>
			<xs:element name="Id" type="dcml:UUIDType"/>
			<xs:element minOccurs="0" name="Annotation" type="dcml:UserTextType"/>
			<xs:element name="IssueDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="Issuer" type="dcml:UserTextType"/>
			<xs:element minOccurs="0" name="Creator" type="dcml:UserTextType"/>
			<xs:element name="CompositionPlaylistId" type="dcml:UUIDType"/>
			<xs:element minOccurs="0" name="ExtensionProperties">
				<xs:complexType>
					<xs:sequence>
						<xs:any maxOccurs="unbounded" namespace="##other" processContents="lax"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AliasList">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="Alias">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="opl:HandleType">
										<xs:attribute name="handle" type="opl:HandleType" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MacroList">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="Macro" type="opl:MacroType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="Signer" type="ds:KeyInfoType"/>
			<xs:element minOccurs="0" ref="ds:Signature"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType abstract="true" name="MacroType">
		<xs:sequence>
			<xs:element name="Name" type="opl:MacroNameType"/>
			<xs:element minOccurs="0" name="Annotation" type="dcml:UserTextType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PresetMacroType">
		<xs:complexContent>
			<xs:extension base="opl:MacroType">
				<xs:sequence>
					<xs:element name="Preset" type="xs:anyURI"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="MacroNameType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z][a-zA-Z0-9-]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HandleType">
		<xs:restriction base="xs:anyURI"/>
	</xs:simpleType>
</xs:schema>
