xsd/SMPTE-2067-2-2013-Core.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:cc="http://www.smpte-ra.org/schemas/2067-2/2013" xmlns:cpl="http://www.smpte-ra.org/schemas/2067-3/2013" xmlns:dcml="http://www.smpte-ra.org/schemas/433/2008/dcmlTypes/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.smpte-ra.org/schemas/2067-2/2013">
<xs:import namespace="http://www.smpte-ra.org/schemas/2067-3/2013" schemaLocation="SMPTE-2067-3-2013-CPL.xsd"/>
<xs:import namespace="http://www.smpte-ra.org/schemas/433/2008/dcmlTypes/" schemaLocation="st0433-dcmlTypes.xsd"/>
<xs:element name="TimedTextResourceID" type="dcml:UUIDType"/>
<xs:element name="ApplicationIdentification">
	<xs:simpleType>
		<xs:restriction>
			<xs:simpleType>
				<xs:list itemType="xs:anyURI"/>
			</xs:simpleType>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:element>
<xs:element name="MainImageSequence" type="cpl:SequenceType"/>
<xs:element name="MainAudioSequence" type="cpl:SequenceType"/>
<xs:element name="SubtitlesSequence" type="cpl:SequenceType"/>
<xs:element name="HearingImpairedCaptionsSequence" type="cpl:SequenceType"/>
<xs:element name="VisuallyImpairedTextSequence" type="cpl:SequenceType"/>
<xs:element name="CommentarySequence" type="cpl:SequenceType"/>
<xs:element name="KaraokeSequence" type="cpl:SequenceType"/>
<xs:element name="AncillaryDataSequence" type="cpl:SequenceType"/>
<xs:complexType name="StereoImageTrackFileResourceType">
  <xs:complexContent>
   <xs:extension base="cpl:BaseResourceType">
    <xs:sequence>
     <xs:element name="LeftEye" type="cpl:TrackFileResourceType"/>
     <xs:element name="RightEye" type="cpl:TrackFileResourceType"/>
    </xs:sequence>
   </xs:extension>
  </xs:complexContent>
 </xs:complexType>
</xs:schema>
