xsd/SMPTE-429-8-2006-PKL.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:pkl="http://www.smpte-ra.org/schemas/429-8/2007/PKL" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.smpte-ra.org/schemas/429-8/2007/PKL">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<xs:element name="PackingList" type="pkl:PackingListType"/>
	<xs:complexType name="PackingListType">
		<xs:sequence>
			<xs:element name="Id" type="pkl:UUID"/>
			<xs:element minOccurs="0" name="AnnotationText" type="pkl:UserText"/>
			<xs:element minOccurs="0" name="IconId" type="pkl:UUID"/>
			<xs:element name="IssueDate" type="xs:dateTime"/>
			<xs:element name="Issuer" type="pkl:UserText"/>
			<xs:element name="Creator" type="pkl:UserText"/>
			<xs:element minOccurs="0" name="GroupId" type="pkl:UUID"/>
			<xs:element name="AssetList">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="Asset" type="pkl:AssetType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="Signer" type="ds:KeyInfoType"/>
			<xs:element minOccurs="0" ref="ds:Signature"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Asset" type="pkl:AssetType"/>
	<xs:complexType name="AssetType">
		<xs:sequence>
			<xs:element name="Id" type="pkl:UUID"/>
			<xs:element minOccurs="0" name="AnnotationText" type="pkl:UserText"/>
			<xs:element name="Hash" type="xs:base64Binary"/>
			<xs:element name="Size" type="xs:positiveInteger"/>
			<xs:element name="Type" type="xs:string"/>
			<xs:element minOccurs="0" name="OriginalFileName" type="pkl:UserText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="UUID">
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="urn:uuid:[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="UserText">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute default="en" name="language" type="xs:language" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
